<%- include("partials/header.ejs") %>
<body>
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
        <div class="col-md-6">
            <div class="card" style="
            padding-right: 36px;
            padding-top: 18px;
        ">
                <div class="card-header text-center">
                    <h3>Authentication Required</h3>
                </div>
                <div class="card-body text-center text-justify">
                    <p class="fs-5 fw-normal">Kindly sign up if you are a first-time user or directly login if you have already signed up to get your location tracked from the top right options.<br>
                    <br>
                    While logging in select the location, geofencing will be implemented against.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include("partials/footer.ejs") %>
